#container1{
    border:2px solid black;
    width:75%;
    margin: 0 auto;
    padding: 12px;
    height: 80%;
}
.input{
padding:8px 12px;
border-radius:5px;
border:1px solid;
}
#img{
width:5%;
height:5%;

}

#class{
    border:2px solid black;
    width:75%;
    margin:0 auto;
    padding:12px;
    height:80%;
    
}
.input{
    padding:8px 12px;
    border-radius: 5px;
    border:1px solid;
}
button{
    padding: 1px 200px;
    background:color black
    color(white)
    
    
    
}
#img{
    width:5%;
    height:5%;
}

#class2
table, th, td {
    border: 1px solid black;
        width: 40%;

  }